#old backup folders before repo
2023-01-26 backup/
2023-01-28 backup/
2023-01-31 backup/
2023-01-31 backup before multi attach-remove/
.vs/
Debug/
.user

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
